<ul>
  <li>Name: <%= @vacation.name %></li>
  <li>Destination: <%= @vacation.destination %></li>
  <li>Travelers: <%= @vacation.traveler %></li>
  <li>Start: <%= @vacation.start.strftime('%B %d, %Y') %></li>
  <li>End: <%= @vacation.end.strftime('%B %d, %Y') %></li>
  <%= link_to "Edit Vacation", edit_vacation_path(@vacation) %> |
  <%= link_to "Cancel Vacation", vacation_path(@vacation), :confirm => "Are you sure?", :method => :delete %>
</ul>
