<!DOCTYPE html>
<html>
  <head>
    <title>Railsapp</title>
    <link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css">
    <link rel='stylesheet' href='style.css'/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--<div class="header">
    	<div class="container">

        <div class="search">
          <form class="search-form">
            <input type="text" placeholder="Search Vacations">
            <button type="submit" class="search-btn">Search</button>
					</form>
        </div>
      </div>
    </div>
-->
    <div class="menu">
    <div class="container">
    		<ul class="nav">
          <a href="https://imgur.com/AaSpC3c"><img src="https://i.imgur.com/AaSpC3c.png?1" title="source: imgur.com"/></a>
          <% if user_signed_in? %>
            <li>Logged in as <strong><%= current_user.email %></strong></li>
            <li><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
          <% else %>
            <li><%= link_to "SIGN UP", new_user_registration_path, :class => 'navbar-link'  %></li> |
            <li><%= link_to "SIGN IN", new_user_session_path, :class => 'navbar-link'  %></li>
          <% end %>
      </ul>
      </div>
    </div>

    <div class="main">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-5">
    					<p class="date"><%= Time.now.strftime("Today is %m/%d/%Y") %></p>
              <h2><span>Family Vacation Planner</span></h2>
              <p>A site to keep you organized and prepared while planning your family vacations.</p>
            </div>
          </div>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h3>Latest News</h3>
            <ul>
              <li>
                <p class="date">November 5, 2014</p>
                <h4><span>Michelle is bringing a pack n' play.</span></h4> </li>
              <li> <p class="date">November 4, 2014</p>
                <h4><span>Bill is bringing Captain Morgan and Coke.</span></h4> </li>
              <li> <p class="date">November 2, 2014</p>
                <h4><span>Christine is bringing 2 ipads and beach toys.</span></h4> </li> </ul>
          </div>
          <div class="col-md-4 sidebar">
            <h3>Upcoming Trips</h3>
            <ul>
              <li>
                <p class="date">November 8-12, 2014</p> <h4><span>Lake George</span></h4> </li>
              <li> <p class="date">November 21, 2014</p>
                <h4><span>Disney World</span></h4> </li> 									<li>
              <p class="date">December 5, 2014</p>
              <h4><span>Aruba</span></h4> 								</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"> <a href="https://imgur.com/NvM7hYH"><img src="https://i.imgur.com/NvM7hYH.jpg?1" title="source: imgur.com" /></a>
          </div>
        </div>
      </div>
    </div>






    <div class="footer">
    <div class="container">
      	<ul>
          <li><a href="#">My List</a></li>
          <li><a href="#">Group List</a></li>
          <li><a href="#">Messages</a></li>
      </ul>
      <p>&copy;2018 Family Vacation Planner</p>
      </div>
    </div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
