<!DOCTYPE html>
<html>
  <head>
    <title>Family Vacation Planner</title>
    <link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css">
    <link rel='stylesheet' href='style.css'/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--<div class="header"> <div class="container"> <div class="search"> <form class="search-form"> <input type="text" placeholder="Search Vacations"> <button type="submit" class="search-btn">Search</button> </form> </div> </div> </div> -->
    <div class="menu">
      <div class="container">
        <ul class="nav">
          <a href="https://imgur.com/AaSpC3c"><img src="https://i.imgur.com/AaSpC3c.png?1" title="source: imgur.com"/></a>
          <% if user_signed_in? %>
            <li>Logged in as
              <strong><%= current_user.email %></strong>
            </li>
            <li><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
            <% else %>
              <li><%= link_to "SIGN UP", new_user_registration_path, :class => 'navbar-link' %></li>
              |
              <li><%= link_to "SIGN IN", new_user_session_path, :class => 'navbar-link' %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="main">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <!--<p class="date"><%= Time.now.strftime("Today is %m/%d/%Y") %></p>-->
              <% if notice %>
                <p class="alert alert-success"><%= notice %></p>
              <% end %>
              <% if alert %>
                <p class="alert alert-danger"><%= alert %></p>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <ul>
      <li>
        <%= link_to 'My Vacations', vacations_path(@user) %>
      </li>
      <li>
        <a href="#">Group List</a>
      </li>
      <li>
        <a href="#">Messages</a>
      </li>
    </ul>
    <p>&copy;2018 Family Vacation Planner</p>
  </div>
</div>
</body>
</html>
